/* #CTA Banner
--------------------------------------------------------------- */
.cta-banner-block {
  margin-bottom: calc(var(--spacing-section-outer) * -1);
  padding: var(--spacing-section-outer) 0;
  text-align: center;
  background-color: var(--bay-of-many);
}

.cta-banner-block ::selection {
  background: var(--scooter);
}

.cta-banner-block::-moz-selection {
  background: var(--scooter);
}

.cta-banner-block .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-section-inner);
}

.cta-banner-block h2,
.cta-banner-block p {
  color: var(--white);
}

.cta-banner-block p {
  font-weight: 400;
}

.cta-banner-block p a {
  padding: 2px 10px;
  display: block;
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
  border: 2px solid var(--white);
  transition: color ease 350ms, background-color ease 350ms;
}

@media screen and (min-width: 992px) {
  .cta-banner-block p a {
    display: inline-block;
  }
}

.cta-banner-block p a:hover,
.cta-banner-block p a:focus {
  color: var(--bay-of-many);
  background-color: var(--white);
}