/* #Home Video
--------------------------------------------------------------- */
#home-video {
    padding: var(--spacing-section-outer) 0;
    position: relative;
    background-color: var(--ebb);
}

#home-video:before {
    content: "";
    width: 100%;
    display: block;
    height: 125px;
    position: absolute;
    bottom: 0;
    background-color: var(--white);
}

@media screen and (min-width: 992px) {
    #home-video:before {
        height: 300px;
    }
}

#home-video>.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-section-inner);
    align-items: center;
    text-align: center;
}

#home-video img {
    max-width: 150px;
    width: 100%;
    height: auto;
    display: block;
}

#home-video .socials-wrapper>h3 {
    font-weight: 700;
}

#home-video .socials {
    max-width: 300px;
    margin: 1em auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#home-video .social>svg {
    width: 35px;
    height: auto;
    display: block;
}

#home-video .social>svg path,
#home-video .social>svg ellipse {
    fill: var(--primary);
    transition: fill ease 350ms;
}

#home-video .social:hover>svg path,
#home-video .social:hover>svg ellipse,
#home-video .social:focus>svg path,
#home-video .social:focus>svg ellipse {
    fill: var(--scooter);
}