/* #Buttons
--------------------------------------------------------------- */
.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

@media screen and (min-width: 768px) {
    .btn-wrapper {
        flex-direction: row;
        align-items: center;
    }
}

.btn {
    height: 40px;
    padding: 0.4rem 1.4rem;
    box-sizing: content-box;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    font-family: var(--bold);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    border: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: color ease 350ms, background-color ease 350ms, border ease 350ms;
}

.btn-outline-primary {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: transparent;
}

.btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--primary);
}

.btn-outline-secondary {
    color: var(--secondary);
    border: 2px solid var(--secondary);
    background-color: transparent;
}

.btn-outline-secondary:hover {
    color: var(--white);
    background-color: var(--secondary);
}

/* Pagination */
.navigation.pagination {
    margin-bottom: var(--spacing-section-inner);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--bold);
}

.navigation.pagination .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navigation.pagination .nav-links a,
.navigation.pagination .nav-links .current {
    width: 30px;
    height: 30px;
    color: var(--primary);
    line-height: 1.6;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color ease 250ms, color ease 250ms;
}

.navigation.pagination .nav-links .current,
.navigation.pagination .nav-links a:not(.prev):hover,
.navigation.pagination .nav-links a:not(.next):hover {
    color: var(--white);
    background-color: var(--primary);
}

.icon-left,
.icon-right {
    width: 25px;
    height: 25px;
    display: block;
    background-size: 25px 25px;
}

.icon-left {
    background-image: url(../../icons/arrow-left.svg);
}

.icon-right {
    background-image: url(../../icons/arrow-right.svg);
}