/* #Buttons
--------------------------------------------------------------- */
.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

@media screen and (min-width: 768px) {
    .btn-wrapper {
        flex-direction: row;
        align-items: center;
    }
}

.btn {
    min-height: 40px;
    padding: 0.5rem 1.4rem;
    box-sizing: content-box;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    font-family: var(--bold);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    border: 0;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    cursor: pointer;
    transition: color ease 350ms, background-color ease 350ms, border ease 350ms;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active {
    background-color: var(--scooter);
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active {
    background-color: var(--scooter);
}

.btn-outline-primary {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: transparent;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.active {
    color: var(--white);
    background-color: var(--primary);
}

.btn-outline-secondary {
    color: var(--secondary);
    border: 2px solid var(--secondary);
    background-color: transparent;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary.active {
    color: var(--white);
    background-color: var(--secondary);
}

.btn-outline-white {
    color: var(--white);
    border: 2px solid var(--white);
    background-color: transparent;
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white.active {
    color: var(--primary);
    background-color: var(--white);
}

.btn-inline {
    color: var(--primary);
    font-weight: 700;
    text-decoration: none;
}

[class*="btn-icon"] {
    display: flex;
    align-items: center;
    gap: 8px;
}

[class*="btn-icon"]:before {
    content: "";
    width: 28px;
    height: 28px;
    display: block;
    background-size: 28px 28px;
    transform: translateX(0);
    transition: transform ease 350ms;
}

.btn-icon-download:before {
    background-image: url(../../icons/download.svg);
}

.btn-icon-download:hover:before,
.btn-icon-download:focus:before {
    transform: translateY(3px);
}

.btn-icon-eye:before {
    background-image: url(../../icons/eye.svg);
}

.btn-icon-eye:hover:before,
.btn-icon-eye:focus:before {
    transform: scale(1.15);
}

/* Filters */
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

.filters-label {
    margin-right: 1em;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.filters .btn {
    font-size: 17px;
}

/* Pagination */
.navigation.pagination {
    margin-bottom: var(--spacing-section-inner);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--bold);
}

.navigation.pagination .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navigation.pagination .nav-links a,
.navigation.pagination .nav-links .current {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    line-height: 1.6;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color ease 350ms, color ease 350ms;
}

.navigation.pagination .nav-links .current,
.navigation.pagination .nav-links a:not(.prev):hover,
.navigation.pagination .nav-links a:not(.next):hover {
    color: var(--white);
    background-color: var(--primary);
}

.navigation.pagination .nav-links a.next:hover span {
    filter: brightness(0) invert(1);
}

.icon-left,
.icon-right {
    width: 22px;
    height: 22px;
    display: block;
    background-size: 22px 22px;
    transition: filter ease 350ms;
}

.icon-left {
    background-image: url(../../icons/arrow-left.svg);
}

.icon-right {
    background-image: url(../../icons/arrow-right.svg);
}

/* Scroll */
.btn-scroll {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: background-color ease 350ms;
}

.btn-scroll:hover,
.btn-scroll:focus {
    background-color: var(--white);
}

.btn-scroll svg {
    max-width: 14px;
    width: 100%;
    height: auto;
    display: block;
}

.btn-scroll svg path {
    transition: fill ease 350ms;
}

.btn-scroll:hover svg path,
.btn-scroll:focus svg path {
    fill: var(--primary);
}