/* #Footer
--------------------------------------------------------------- */
#footer {
    width: 100%;
    position: relative;
    color: var(--white);
}

/* Reinsurance */
#reinsurance {
    padding: var(--spacing-section-outer) 0;
    background-color: var(--scooter);
}

#reinsurance .badges {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    #reinsurance .badges {
        flex-direction: row;
    }
}

#reinsurance .badge {
    max-width: 125px;
}

@media screen and (min-width: 992px) {
    #reinsurance .badge {
        max-width: 150px;
    }
}

#reinsurance .badge img {
    width: 100%;
    height: auto;
    display: block;
}

/* Main footer */
#main-footer {
    padding: var(--spacing-section-outer) 0;
    background-color: var(--primary);
}

#main-footer ::selection {
    background: var(--scooter);
}

#main-footer::-moz-selection {
    background: var(--scooter);
}

#footer .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

#main-footer>.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-section-inner);
}

@media screen and (min-width: 1200px) {
    #main-footer>.container {
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
    }
}

/* Informations */
@media screen and (min-width: 1200px) {
    #footer .informations {
        max-width: 350px;
    }
}

#footer .custom-logo-link {
    margin-bottom: 1em;
    display: block;
    text-decoration: none;
    color: var(--black);
    text-align: center;
    font-family: var(--bold);
    font-weight: 700;
}

#footer .custom-logo {
    width: 100%;
    max-width: 175px;
    height: auto;
    display: block;
    filter: brightness(0) invert(1);
}

#footer .description p {
    font-weight: 500;
}

/* Menus */
#footer .menus {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media screen and (min-width: 992px) {
    #footer .menus {
        flex: 1 1 0;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
    }
}

#footer .menu-footer>ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (min-width: 1200px) {
    #footer .menu-footer>ul {
        min-width: 200px;
    }
}

#footer .menu-footer a {
    color: var(--white);
    text-decoration: none;
    transition: color ease 350ms;
}

#footer .menu-footer a:hover,
#footer .menu-footer a:focus {
    color: var(--scooter);
}

#footer .menu-external a {
    color: var(--scooter);
}

#footer .menu-external a:hover,
#footer .menu-external a:focus {
    text-decoration: underline;
}

/* Contact */
#footer .contact {
    padding: 0 30px;
    border-right: 1px solid var(--scooter);
    border-left: 1px solid var(--scooter);
}

#footer .btn-contact {
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
}

#footer .btn-contact:before {
    content: "";
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 5px;
    background-size: cover;
    background-image: url(../../icons/mail.svg);
}

#footer .btn-contact:hover,
#footer .btn-contact:focus {
    text-decoration: underline;
}

#footer .socials {
    max-width: 300px;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#footer .social>svg {
    width: 42px;
    height: auto;
    display: block;
}

#footer .social>svg path,
#footer .social>svg ellipse {
    transition: fill ease 350ms;
}

#footer .social:hover>svg path,
#footer .social:hover>svg ellipse,
#footer .social:focus>svg path,
#footer .social:focus>svg ellipse {
    fill: var(--scooter);
}

/* Newsletter */
#footer .newsletter {
    margin-right: auto;
}

#footer .newsletter-wrapper {
    display: flex;
}

#footer .newsletter-wrapper>span {
    flex: 1 1 0;
}

#footer .newsletter-wrapper>span>input {
    width: 100%;
    height: 40px;
    padding: 1em;
    color: var(--white);
    font-family: var(--body);
    border: 1px solid var(--white);
    outline: 0;
    background-color: transparent;
    box-sizing: border-box;
    transition: border-color ease 350ms;
}

#footer .newsletter-wrapper>span>input:focus {
    border-color: var(--scooter);
}

#footer .newsletter-wrapper>span>input::placeholder {
    color: var(--scooter);
}

#footer .newsletter-wrapper .wpcf7-not-valid-tip {
    position: absolute;
}

#footer .newsletter-wrapper .wpcf7-spinner {
    display: none;
}

#footer input[type="submit"] {
    padding: 0 10px;
    color: var(--white);
    font-family: var(--body);
    text-transform: uppercase;
    border: 1px solid var(--white);
    border-left: transparent;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color ease 350ms, color ease 350ms;
}

#footer input[type="submit"]:hover,
#footer input[type="submit"]:focus {
    color: var(--scooter);
    background-color: var(--white);
}