/* #Header
--------------------------------------------------------------- */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    font-size: 15px;
    text-transform: uppercase;
}

#header a,
.super-menu .menu-topbar a {
    text-decoration: none;
}

/* Topbar */
#topbar {
    width: 100%;
    padding: 20px 0;
    display: none;
    background-color: var(--white);
}

@media screen and (min-width: 1200px) {
    #topbar {
        display: block;
    }
}

#topbar .inner-topbar,
#topbar .menu-topbar {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: flex-end;
}

#topbar a,
.super-menu .menu-topbar a {
    color: var(--manatee);
    font-weight: 700;
    transition: color ease 350ms;
}

@media screen and (min-width: 1200px) {

    #topbar a,
    .super-menu .menu-topbar a {
        font-weight: 500;
    }
}

#topbar a:hover,
.super-menu .menu-topbar a:hover,
#topbar a:focus,
.super-menu .menu-topbar a:focus {
    color: var(--primary);
}

#topbar a[target="_blank"],
.super-menu .menu-topbar a[target="_blank"] {
    font-weight: 700;
    position: relative;
}

#topbar a[target="_blank"]:after,
.super-menu .menu-topbar a[target="_blank"]:after {
    content: "";
    width: 47px;
    height: 3px;
    display: block;
    background-color: var(--manatee);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform ease 350ms;
}

#topbar a[target="_blank"]:hover:after,
#topbar a[target="_blank"]:focus:after {
    transform: scaleX(0);
}

#topbar li:nth-last-child(2) a[target="_blank"],
.super-menu .menu-topbar li:nth-last-child(2) a[target="_blank"] {
    color: var(--scooter);
}

#topbar li:nth-last-child(2) a[target="_blank"]:after,
.super-menu .menu-topbar li:nth-last-child(2) a[target="_blank"]:after {
    background-color: var(--scooter);
}

#topbar li:nth-last-child(1) a[target="_blank"],
.super-menu .menu-topbar li:nth-last-child(1) a[target="_blank"] {
    color: var(--primary);
}

#topbar li:nth-last-child(1) a[target="_blank"]:after,
.super-menu .menu-topbar li:nth-last-child(1) a[target="_blank"]:after {
    background-color: var(--primary);
}

#topbar .btn-search,
.super-menu .btn-search {
    max-width: 42px;
    background: none;
    border: 0;
    cursor: pointer;
}

#topbar .btn-search>svg path {
    transition: fill ease 350ms;
}

#topbar .btn-search:hover>svg path,
#topbar .btn-search:focus>svg path,
.super-menu .btn-search:hover>svg path,
.super-menu .btn-search:focus>svg path {
    fill: var(--primary);
}

/* Main header */
#main-header {
    width: 100%;
    background-color: var(--ebb);
}

@media screen and (min-width: 1200px) {
    #main-header .container-full {
        padding-right: 0;
    }
}

#main-header .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

#main-header .custom-logo-link {
    text-decoration: none;
    color: var(--black);
    font-family: var(--bold);
    font-weight: 700;
}

#main-header .custom-logo {
    width: 100%;
    max-width: 160px;
    height: auto;
}

#main-header .menu-header {
    display: none;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-color: unset;
    transition: opacity ease 350ms;
}

@media screen and (min-width: 1200px) {
    #main-header .menu-header {
        display: flex;
    }
}

#main-header li a,
.super-menu .menu-header li a {
    padding: 20px;
    position: relative;
    display: block;
    color: var(--primary);
    font-weight: 500;
    font-family: var(--bold);
    text-decoration: none;
    cursor: pointer;
    transition: color ease 350ms, background-color ease 350ms;
}

@media screen and (min-width: 1200px) {
    #main-header li a {
        padding: 20px;
    }
}

@media screen and (min-width: 1920px) {
    #main-header li a {
        padding: 26px;
    }
}

#main-header li a:hover,
#main-header li a:focus,
.super-menu .menu-header li a:hover,
.super-menu .menu-header li a:focus {
    color: var(--white);
    background-color: var(--scooter);
}

#main-header .menu-item-alt a,
.super-menu .menu-header .menu-item-alt a {
    color: var(--white);
    background-color: var(--manatee);
}

#main-header .menu-item-primary a,
.super-menu .menu-header .menu-item-primary a {
    color: var(--white);
    background-color: var(--primary);
}

#main-header .menu-item-secondary a,
.super-menu .menu-header .menu-item-secondary a {
    position: relative;
    color: var(--white);
    background-color: var(--secondary);
}

#main-header .menu-item-secondary a:before,
.super-menu .menu-header .menu-item-secondary a:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    bottom: 18px;
    left: 15px;
    border: 2px solid var(--white);
}

/* Toggle */
.menu-toggle-col {
    width: 30px;
    padding: 1.5em;
    transition: opacity ease 350ms;
}

.menu-toggle-wrapper {
    position: relative;
}

#menu-toggle {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    cursor: pointer;
}

#menu-toggle {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    cursor: pointer;
}

#menu-toggle:focus+div {
    outline: dashed 1px var(--primary);
    outline-offset: 6px;
}

.menu-toggle-open {
    max-width: 30px;
    height: 30px;
    pointer-events: none;
}

.menu-toggle-open>span {
    margin-top: 13px;
}

.menu-toggle-open>span,
.menu-toggle-open>span:before,
.menu-toggle-open>span:after {
    width: 30px;
    height: 2px;
    position: absolute;
    display: block;
    background-color: var(--primary);
}

.menu-toggle-open>span:before,
.menu-toggle-open>span:after {
    width: 20px;
    right: 0;
}

.menu-toggle-open>span:before {
    content: "";
    margin-top: -13px;
    transition: width ease 350ms;
}

.menu-toggle-open>span:after {
    content: "";
    margin-top: 13px;
    transition: width ease 350ms 90ms;
}

.menu-toggle-wrapper:hover .menu-toggle-open>span:before,
.menu-toggle-wrapper:focus .menu-toggle-open>span:before,
.menu-toggle-wrapper:hover .menu-toggle-open>span:after,
.menu-toggle-wrapper:focus .menu-toggle-open>span:after {
    width: 30px;
}

/* Super Menu */
body.js-menuOpened {
    overflow: hidden;
}

@media screen and (min-width: 1200px) {
    .menu-toggle-col {
        display: none;
    }
}

body.js-menuOpened #header .menu,
body.js-menuOpened #header .menu-toggle-col {
    opacity: 0.55;
}

.super-menu-wrapper {
    width: 100%;
    height: calc(100% - var(--header-height));
    position: fixed;
    top: var(--header-height);
    right: 0;
    z-index: 25;
    background-color: var(--white);
    transform: translateX(100%);
    overflow-y: auto;
    transition: transform ease 350ms;
}

.js-menuOpened .super-menu-wrapper {
    transform: translateX(0);
}

.super-menu-wrapper .container {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.super-menu-wrapper .menu-toggle-close {
    margin-left: auto;
    padding: 0;
    display: block;
    background: none;
    border: 0;
    cursor: pointer;
}

.super-menu-wrapper .menu-toggle-close svg {
    width: 20px;
    height: 20px;
}

.super-menu-wrapper .menu-toggle-close svg {
    width: 20px;
    height: 20px;
}

.super-menu-wrapper .menu-toggle-close svg line {
    stroke: var(--manatee)
}

.super-menu-wrapper .menu-header {
    width: 100%;
}

.super-menu-wrapper .menu-topbar {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    flex-direction: column;
}

/* Search Modal */
body.js-searchModalOpened {
    overflow: hidden;
}

.search-modal {
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(37, 48, 128, 0.95);
    overflow-y: auto;
    opacity: 0;
    transition: opacity ease 350ms;
}

body.js-searchModalOpened .search-modal {
    opacity: 1;
}

.search-modal .container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-modal .btn-close {
    max-width: 40px;
    position: absolute;
    top: 2em;
    right: 2em;
    display: block;
    line-height: 0;
    cursor: pointer;
}

.search-modal .container .searchform {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .search-modal .container .searchform {
        max-width: 650px;
        flex-direction: row;
        gap: unset;
        align-items: stretch;
    }
}

.search-modal input[type="text"] {
    background-color: white;
}