/* #Header
--------------------------------------------------------------- */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
    font-size: 15px;
    text-transform: uppercase;
}

#header a,
.super-menu .menu-topbar a {
    text-decoration: none;
}

/* Topbar */
#topbar {
    width: 100%;
    padding: 20px 0;
    display: none;
    background-color: var(--white);
}

@media screen and (min-width: 1200px) {
    #topbar {
        display: block;
    }
}

#topbar .inner-topbar,
#topbar .menu-topbar {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: flex-end;
}

#topbar a,
.super-menu .menu-topbar a {
    color: var(--manatee);
    font-weight: 700;
    transition: color ease 350ms;
}

@media screen and (min-width: 1200px) {

    #topbar a,
    .super-menu .menu-topbar a {
        font-weight: 500;
    }
}

#topbar a:hover,
.super-menu .menu-topbar a:hover,
#topbar a:focus,
.super-menu .menu-topbar a:focus {
    color: var(--primary);
}

#topbar a[target="_blank"],
.super-menu .menu-topbar a[target="_blank"] {
    font-weight: 700;
    position: relative;
}

#topbar a[target="_blank"]:after,
.super-menu .menu-topbar a[target="_blank"]:after {
    content: "";
    width: 47px;
    height: 3px;
    display: block;
    background-color: var(--manatee);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform ease 350ms;
}

#topbar a[target="_blank"]:hover:after,
#topbar a[target="_blank"]:focus:after {
    transform: scaleX(0);
}

#topbar li:nth-last-child(2) a[target="_blank"],
.super-menu .menu-topbar li:nth-last-child(2) a[target="_blank"] {
    color: var(--scooter);
}

#topbar li:nth-last-child(2) a[target="_blank"]:after,
.super-menu .menu-topbar li:nth-last-child(2) a[target="_blank"]:after {
    background-color: var(--scooter);
}

#topbar li:nth-last-child(1) a[target="_blank"],
.super-menu .menu-topbar li:nth-last-child(1) a[target="_blank"] {
    color: var(--primary);
}

#topbar li:nth-last-child(1) a[target="_blank"]:after,
.super-menu .menu-topbar li:nth-last-child(1) a[target="_blank"]:after {
    background-color: var(--primary);
}

#topbar .btn-search,
.super-menu .btn-search {
    max-width: 42px;
    background: none;
    border: 0;
    cursor: pointer;
}

#topbar .btn-search>svg path {
    transition: fill ease 350ms;
}

#topbar .btn-search:hover>svg path,
#topbar .btn-search:focus>svg path,
.super-menu .btn-search:hover>svg path,
.super-menu .btn-search:focus>svg path {
    fill: var(--primary);
}

/* Main header */
#main-header {
    width: 100%;
    background-color: var(--ebb);
}

#main-header .container-full {
    padding-right: 0;
}

#main-header .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

#main-header .custom-logo-link {
    text-decoration: none;
    color: var(--black);
    font-family: var(--bold);
    font-weight: 700;
}

#main-header .custom-logo {
    width: 100%;
    max-width: 160px;
    height: auto;
}

#main-header .menu-header {
    display: none;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-color: unset;
    transition: opacity ease 350ms;
}

@media screen and (min-width: 1200px) {
    #main-header .menu-header {
        display: flex;
    }
}

#main-header li a,
.super-menu .menu-header li a {
    padding: 20px;
    position: relative;
    display: block;
    color: var(--primary);
    font-weight: 500;
    font-family: var(--bold);
    text-decoration: none;
    cursor: pointer;
    transition: color ease 350ms, background-color ease 350ms;
}

@media screen and (min-width: 1920px) {
    #main-header li a {
        padding: 26px;
    }
}

#main-header li a:hover,
#main-header li a:focus,
.super-menu .menu-header li a:hover,
.super-menu .menu-header li a:focus {
    color: var(--white) !important;
    background-color: var(--scooter) !important;
}

#main-header .menu-item-alt a,
.super-menu .menu-header .menu-item-alt a {
    color: var(--white);
    background-color: var(--manatee);
}

#main-header .menu-item-primary a,
.super-menu .menu-header .menu-item-primary a {
    color: var(--white);
    background-color: var(--primary);
}

#main-header .menu-item-secondary a,
.super-menu .menu-header .menu-item-secondary a {
    position: relative;
    color: var(--white);
    background-color: var(--secondary);
}

#main-header .menu-item-secondary a:before,
.super-menu .menu-header .menu-item-secondary a:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    bottom: 18px;
    left: 15px;
    border: 2px solid var(--white);
}

/* Toggle */
.menu-toggle-col {
    width: 30px;
    padding: 1.5em;
    background-color: var(--primary);
    transition: opacity ease 350ms;
}

@media screen and (min-width: 1200px) {
    .menu-toggle-col {
        display: none;
    }
}

.menu-toggle-wrapper {
    position: relative;
}

#menu-toggle {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    cursor: pointer;
}

#menu-toggle {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    cursor: pointer;
}

#menu-toggle:focus+div {
    outline: dashed 1px var(--manatee);
    outline-offset: 6px;
}

.menu-toggle-open {
    max-width: 30px;
    height: 30px;
    pointer-events: none;
}

.menu-toggle-open>span {
    margin-top: 13px;
}

.menu-toggle-open>span,
.menu-toggle-open>span:before,
.menu-toggle-open>span:after {
    width: 30px;
    height: 3px;
    position: absolute;
    display: block;
    background-color: var(--white);
}

.menu-toggle-open>span:before,
.menu-toggle-open>span:after {
    width: 20px;
    right: 0;
}

.menu-toggle-open>span:before {
    content: "";
    margin-top: -13px;
    transition: width ease 350ms;
}

.menu-toggle-open>span:after {
    content: "";
    margin-top: 13px;
    transition: width ease 350ms 90ms;
}

.menu-toggle-wrapper:hover .menu-toggle-open>span:before,
.menu-toggle-wrapper:focus .menu-toggle-open>span:before,
.menu-toggle-wrapper:hover .menu-toggle-open>span:after,
.menu-toggle-wrapper:focus .menu-toggle-open>span:after {
    width: 30px;
}

/* Super Menu */
body.js-menuOpened {
    overflow: hidden;
}

.super-menu-overlay {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 55;
    background-color: rgba(37, 48, 128, 0.9);
    opacity: 0;
    transition: opacity ease 350ms;
    pointer-events: none;
}

body.js-menuOpened .super-menu-overlay {
    opacity: 1;
    pointer-events: initial;
}

.super-menu-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 60;
    background-color: var(--white);
    transform: translateX(100%);
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform ease 350ms;
}

@media screen and (min-width: 1200px) {
    .super-menu-wrapper {
        max-width: 415px;
        border-right: 1px solid var(--primary);
        transform: translateX(-100%);
        overflow: unset;
    }
}

.js-menuOpened .super-menu-wrapper {
    transform: translateX(0);
}

.super-menu-wrapper .container {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    gap: 35px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.super-menu-wrapper .btn-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.super-menu-wrapper .btn-wrapper>button {
    padding: 0;
    display: block;
    background: none;
    border: 0;
    cursor: pointer;
}

.super-menu-wrapper .menu-toggle-close svg {
    width: 20px;
    height: 20px;
}

.super-menu-wrapper .menu-toggle-close svg line {
    stroke: var(--primary)
}

.super-menu-wrapper .custom-logo-link {
    margin: 0 auto;
    display: block;
    line-height: 0;
}

.super-menu-wrapper .custom-logo {
    width: 100%;
    max-width: 175px;
    height: auto;
}

.super-menu-wrapper .menu-header {
    width: calc(100% + 4em);
    margin-left: -2em;
    position: relative;
}

.super-menu-wrapper .menu-header li a {
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

@media screen and (min-width: 1200px) {
    .super-menu-wrapper .menu-header li a {
        padding: 10px 20px;
        font-weight: 400;
    }
}

@media screen and (min-width: 1200px) {
    .super-menu .menu-header .menu-item-secondary a:before {
        content: none;
    }
}

.super-menu-wrapper .menu-header a:after {
    content: "";
    width: 18px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 2em;
    background-size: cover;
    background-image: url(../../icons/arrow-line-right.svg);
    transform: translate(0, -50%);
    transition: filter ease 350ms;
}

.super-menu-wrapper .menu-header .menu-item-alt a:after,
.super-menu-wrapper .menu-header .menu-item-primary a:after,
.super-menu-wrapper .menu-header .menu-item-secondary a:after,
.super-menu-wrapper .js-openProducts>.sub-menu>li>a:after,
.super-menu-wrapper .js-openRanges>.sub-menu>li>a:after {
    filter: brightness(0) invert(1);
}

.super-menu-wrapper .menu-header .menu-item-secondary a:after {
    opacity: 0;
}

.super-menu-wrapper .menu-topbar {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    flex-direction: column;
    transition: opacity ease 350ms;
}

.super-menu[data-step="1"] .menu-topbar,
.super-menu[data-step="2"] .menu-topbar,
.super-menu[data-step="1"] .btn-search,
.super-menu[data-step="2"] .btn-search {
    display: none;
    visibility: hidden;
}

/* Submenu */
.sub-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 65;
    top: 0;
    background-color: var(--white);
    transform: translateX(150vw);
    transition: transform ease 350ms;
}

@media screen and (min-width: 1200px) {
    .sub-menu {
        transition: transform ease 0s;
    }
}

.super-menu[data-step="1"] .menu-header>li.opened>.sub-menu,
.super-menu[data-step="2"] .menu-header>li.opened>.sub-menu {
    transform: translateX(0);
}

.super-menu[data-step="2"] .menu-header>li.opened>.sub-menu>li.opened>.sub-menu {
    transform: translateX(0);
}

@media screen and (min-width: 1200px) {
    .super-menu[data-step="2"] .menu-header>li.opened>.sub-menu>li.opened>.sub-menu {
        transform: translateX(calc(100% + 1px));
    }

    .super-menu[data-step="2"] .menu-header>li.opened>.sub-menu>li>.sub-menu:before {
        content: "";
        height: 140vh;
        position: absolute;
        display: block;
        top: -20vh;
        right: 0;
        left: 0;
        background-color: var(--white);
    }

    .super-menu[data-step="2"] .menu-header>li.opened>.sub-menu>li.opened>.sub-menu:before {
        opacity: 1;
    }
}

.super-menu-wrapper .js-openProducts>.sub-menu>li>a,
.super-menu-wrapper .js-openRanges>.sub-menu>li>a {
    background-color: var(--primary);
    color: var(--white);
}

.super-menu-wrapper .js-openProducts>.sub-menu>li:nth-child(1)>a,
.super-menu-wrapper .js-openRanges>.sub-menu>li:nth-child(1)>a {
    background-color: #005D9A;
}

.super-menu-wrapper .js-openProducts>.sub-menu>li:nth-child(2)>a,
.super-menu-wrapper .js-openRanges>.sub-menu>li:nth-child(2)>a {
    background-color: #0578BE;
}

.super-menu-wrapper .js-openProducts>.sub-menu>li:nth-child(3)>a,
.super-menu-wrapper .js-openRanges>.sub-menu>li:nth-child(3)>a {
    background-color: #449DD7;
}

.super-menu-wrapper .js-openProducts>.sub-menu>li:nth-child(4)>a,
.super-menu-wrapper .js-openRanges>.sub-menu>li:nth-child(4)>a {
    background-color: #418AC0;
}

.super-menu-wrapper .js-openProducts>.sub-menu>li:nth-child(5)>a,
.super-menu-wrapper .js-openRanges>.sub-menu>li:nth-child(5)>a {
    background-color: #006E8C;
}

.super-menu-wrapper .js-openProducts>.sub-menu>li:nth-child(6)>a,
.super-menu-wrapper .js-openRanges>.sub-menu>li:nth-child(6)>a {
    background-color: #5DB3C6;
}

.super-menu-wrapper .js-openProducts>.sub-menu .sub-menu li a,
.super-menu-wrapper .js-openRanges>.sub-menu .sub-menu li a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.super-menu-wrapper .js-openProducts>.sub-menu .sub-menu li a img,
.super-menu-wrapper .js-openRanges>.sub-menu .sub-menu li a img {
    width: auto;
    display: block;
    max-height: 28px;
}

/* Search Modal */
body.js-searchModalOpened {
    overflow: hidden;
}

.search-modal {
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(37, 48, 128, 0.95);
    overflow-y: auto;
    opacity: 0;
    transition: opacity ease 350ms;
}

body.js-searchModalOpened .search-modal {
    opacity: 1;
}

.search-modal .container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-modal .btn-close {
    max-width: 40px;
    position: absolute;
    top: 2em;
    right: 2em;
    display: block;
    line-height: 0;
    cursor: pointer;
}

.search-modal .container .searchform {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .search-modal .container .searchform {
        max-width: 650px;
        flex-direction: row;
        gap: unset;
        align-items: stretch;
    }
}

.search-modal input[type="text"] {
    background-color: white;
}