/* #Index
--------------------------------------------------------------- */
.post-type-archive-gypass_tip_trick main,
.blog main,
.tax-gypass_trip_trick_product_family main,
.category main {
    padding: var(--spacing-section-outer) 0;
    position: relative;
}

.blog #posts {
    margin-bottom: var(--spacing-section-outer);
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1em;
}

@media screen and (min-width: 1200px) {
    .posts-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.posts-grid .post {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: var(--primary);
    text-decoration: none;
    background-color: var(--ebb);
}

.posts-grid .post .thumbnail {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
}

.posts-grid .badge {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.posts-grid .post .content {
    padding: 1em;
}

.posts-grid .post h2,
.posts-grid p {
    font-size: 17px;
}

.posts-grid .post .btn {
    height: auto;
    margin-top: 1em;
    padding: 0.5em 1.5em;
    font-size: 15px;
}

.posts-grid .post:hover .btn {
    color: var(--white);
    background-color: var(--primary);
}

.post-type-archive-gypass_tip_trick .navigation,
.blog .navigation,
.category .navigation {
    margin-top: var(--spacing-section-inner);
}