/* #Search
--------------------------------------------------------------- */
.search main {
    padding: var(--spacing-section-outer) 0;
    text-align: center;
}

.search main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-section-inner);
}

.search main .searchform {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.search main .search-results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-section-inner);
    text-align: left;
    list-style: circle;
}

.search main .search-results li a {
    color: var(--primary);
    text-decoration: none;
}