/* #Single range
--------------------------------------------------------------- */
.single-gypass_range #breadcrumbs img {
    max-width: 50px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 992px) {
    .single-gypass_range #breadcrumbs img {
        margin-right: -40px;
    }
}

/* Hero */
.single-gypass_range #hero {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.single-gypass_range #hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,
            rgba(13, 13, 13, 0.55) 0%,
            rgba(13, 13, 13, 0) 100%);
}

.single-gypass_range #hero .container {
    min-height: 40vh;
    padding-top: var(--spacing-section-inner);
    padding-bottom: var(--spacing-section-inner);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

@media screen and (min-width: 992px) {
    .single-gypass_range #hero .container {
        min-height: 75vh;
    }
}

.single-gypass_range #hero h1 {
    color: var(--white);
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
}

.single-gypass_range #hero h1 strong {
    font-size: 30px;
    font-weight: 500;
}

.single-gypass_range #hero h2 {
    color: var(--white);
    text-align: left;
    text-transform: uppercase;
    line-height: 1.1;
}

.single-gypass_range #hero h2 p {
    font-weight: 300;
}

.single-gypass_range #hero .btn-scroll {
    align-self: center;
}

/* Content */
.single-gypass_range #content.primary-bahama-blue h2,
.single-gypass_range #content.primary-bahama-blue h3,
.single-gypass_range #content.primary-bahama-blue p {
    color: var(--bahama-blue);
}

.single-gypass_range #content.primary-bahama-blue .btn-outline-primary {
    color: var(--bahama-blue);
    border: 2px solid var(--bahama-blue);
    background-color: transparent;
}

.single-gypass_range #content.primary-bahama-blue .btn-outline-primary:hover,
.single-gypass_range #content.primary-bahama-blue .btn-outline-primary:focus,
.single-gypass_range #content.primary-bahama-blue .btn-outline-primary.active {
    color: var(--white);
    background-color: var(--bahama-blue);
}

.single-gypass_range #content.primary-boston-blue h2,
.single-gypass_range #content.primary-boston-blue h3,
.single-gypass_range #content.primary-boston-blue p {
    color: var(--boston-blue);
}

.single-gypass_range #content.primary-boston-blue .btn-outline-primary {
    color: var(--boston-blue);
    border: 2px solid var(--boston-blue);
    background-color: transparent;
}

.single-gypass_range #content.primary-boston-blue .btn-outline-primary:hover,
.single-gypass_range #content.primary-boston-blue .btn-outline-primary:focus,
.single-gypass_range #content.primary-boston-blue .btn-outline-primary.active {
    color: var(--white);
    background-color: var(--boston-blue);
}

.single-gypass_range #content.primary-fountain-blue h2,
.single-gypass_range #content.primary-fountain-blue h3,
.single-gypass_range #content.primary-fountain-blue p {
    color: var(--fountain-blue);
}

.single-gypass_range #content.primary-fountain-blue .btn-outline-primary {
    color: var(--fountain-blue);
    border: 2px solid var(--fountain-blue);
    background-color: transparent;
}

.single-gypass_range #content.primary-fountain-blue .btn-outline-primary:hover,
.single-gypass_range #content.primary-fountain-blue .btn-outline-primary:focus,
.single-gypass_range #content.primary-fountain-blue .btn-outline-primary.active {
    color: var(--white);
    background-color: var(--fountain-blue);
}

.single-gypass_range #content.primary-havelock-blue h2,
.single-gypass_range #content.primary-havelock-blue h3,
.single-gypass_range #content.primary-havelock-blue p {
    color: var(--havelock-blue);
}

.single-gypass_range #content.primary-havelock-blue .btn-outline-primary {
    color: var(--havelock-blue);
    border: 2px solid var(--havelock-blue);
    background-color: transparent;
}

.single-gypass_range #content.primary-havelock-blue .btn-outline-primary:hover,
.single-gypass_range #content.primary-havelock-blue .btn-outline-primary:focus,
.single-gypass_range #content.primary-havelock-blue .btn-outline-primary.active {
    color: var(--white);
    background-color: var(--havelock-blue);
}

.single-gypass_range #content.primary-lochmara h2,
.single-gypass_range #content.primary-lochmara h3,
.single-gypass_range #content.primary-lochmara p {
    color: var(--lochmara);
}

.single-gypass_range #content.primary-lochmara .btn-outline-primary {
    color: var(--lochmara);
    border: 2px solid var(--lochmara);
    background-color: transparent;
}

.single-gypass_range #content.primary-lochmara .btn-outline-primary:hover,
.single-gypass_range #content.primary-lochmara .btn-outline-primary:focus,
.single-gypass_range #content.primary-lochmara .btn-outline-primary.active {
    color: var(--white);
    background-color: var(--lochmara);
}

/* Footer */
.single-gypass_range #reinsurance {
    margin-top: var(--spacing-section-outer);
}