/* #Single product
--------------------------------------------------------------- */
.single-gypass_product #breadcrumbs img {
  max-width: 50px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .single-gypass_product #breadcrumbs img {
    margin-right: -40px;
  }
}

/* Hero */
.single-gypass_product #hero {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.single-gypass_product #hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg,
      rgba(13, 13, 13, 0.6) 0%,
      rgba(13, 13, 13, 0) 100%);
}

.single-gypass_product #hero .container {
  min-height: 40vh;
  padding-top: var(--spacing-section-inner);
  padding-bottom: var(--spacing-section-inner);
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .single-gypass_product #hero .container {
    min-height: 75vh;
  }
}

.single-gypass_product #hero h1 {
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
}

.single-gypass_product #hero h1 strong {
  font-size: 30px;
  font-weight: 500;
}

.single-gypass_product #hero h2 {
  text-align: left;
  text-transform: uppercase;
  line-height: 1.1;
}

.single-gypass_product #hero h2 p {
  font-weight: 300;
  color: var(--white);
}

.single-gypass_product #hero .btn-scroll {
  align-self: center;
}

/* Content */
.single-gypass_product .cta-banner-block-simple {
  margin-bottom: 0;
  background-color: var(--bahama-blue);
}

.single-gypass_product #cta-content {
  padding: var(--spacing-section-outer) 0;
  background-color: var(--white);
  border-top: 1px solid var(--bay-of-many);
}

.single-gypass_product #cta-content .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-section-inner);
}

@media screen and (min-width: 992px) {
  .single-gypass_product #cta-content .container {
    flex-direction: row;
    gap: var(--spacing-section-outer);
  }
}

.single-gypass_product #cta-content .ornament {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--ebb);
}

.single-gypass_product #cta-content .ornament svg {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.single-gypass_product #cta-content .content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-section-inner);
  align-items: flex-start;
}

.single-gypass_product #cta-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-section-inner);
  align-items: flex-start;
}

.single-gypass_product #cta-content h2,
.single-gypass_product #cta-content h3 {
  text-transform: uppercase;
}

.single-gypass_product #reinsurance {
  margin-top: var(--spacing-section-outer);
}

/* Motorisation et domotique */
.single-gypass_product #hero-alt .container {
  padding-bottom: var(--spacing-section-inner);
  display: flex;
  flex-direction: column;
}


.single-gypass_product #hero-alt .formatted>*:not(:nth-last-child(1)) {
  margin-bottom: 1rem;
}

.single-gypass_product #hero-alt p,
.single-gypass_product #hero-alt li {
  color: var(--manatee);
}

.single-gypass_product #hero-alt .formatted ul>li:before {
  border-color: var(--manatee);
}