/* #Single product
--------------------------------------------------------------- */
.gypass_product-template-default #breadcrumbs img {
  max-width: 50px;
  width: 100%;
  height: auto;
}

/* Hero */
.gypass_product-template-default #hero {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.gypass_product-template-default #hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 0.45) 0%,
    rgba(13, 13, 13, 0) 100%
  );
}

.gypass_product-template-default #hero .container {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media screen and (min-width: 992px) {
  .gypass_product-template-default #hero .container {
    min-height: 75vh;
  }
}

.gypass_product-template-default #hero h1 {
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  line-height: 0.65;
}

.gypass_product-template-default #hero h2 {
  margin-top: var(--spacing-section-outer);
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  line-height: 1.1;
}

/* Content */
.gypass_product-template-default .product-cta-banner-1 {
  margin-bottom: 0;
  background-color: var(--bahama-blue);
}

.gypass_product-template-default #content {
  padding: var(--spacing-section-outer) 0;
  background-color: var(--white);
  border-top: 1px solid var(--primary);
}

.gypass_product-template-default #content .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-section-inner);
}

@media screen and (min-width: 992px) {
  .gypass_product-template-default #content .container {
    flex-direction: row;
    gap: var(--spacing-section-outer);
  }
}

.gypass_product-template-default #content .ornament {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--ebb);
}

.gypass_product-template-default #content .ornament svg {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.gypass_product-template-default #content .content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-section-inner);
  align-items: flex-start;
}

.gypass_product-template-default #content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-section-inner);
  align-items: flex-start;
}

.gypass_product-template-default #content h2,
.gypass_product-template-default #content h3 {
  text-transform: uppercase;
}

.gypass_product-template-default #reinsurance {
  margin-top: var(--spacing-section-outer);
}
