/* #Single range
--------------------------------------------------------------- */
.single-gypass_range #breadcrumbs img {
    max-width: 50px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 992px) {
    .single-gypass_range #breadcrumbs img {
        margin-right: -40px;
    }
}

.single-gypass_range #content .btn {
    font-weight: 600;
    font-size: 17px;
}

/* Hero */
.single-gypass_range #hero {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.single-gypass_range #hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,
            rgba(13, 13, 13, 0.6) 0%,
            rgba(13, 13, 13, 0) 100%);
}

.single-gypass_range #hero .container {
    min-height: 40vh;
    padding-top: var(--spacing-section-inner);
    padding-bottom: var(--spacing-section-inner);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

@media screen and (min-width: 992px) {
    .single-gypass_range #hero .container {
        min-height: 75vh;
    }
}

.single-gypass_range #hero h1 {
    color: var(--white);
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
}

.single-gypass_range #hero h1 strong {
    font-size: 30px;
    font-weight: 500;
}

.single-gypass_range #hero h2 {
    color: var(--white);
    text-align: left;
    text-transform: uppercase;
    line-height: 1.1;
}

.single-gypass_range #hero h2 p {
    color: var(--white);
    font-weight: 300;
}

.single-gypass_range #hero .btn-scroll {
    align-self: center;
}

/* Footer */
.single-gypass_range #reinsurance {
    margin-top: var(--spacing-section-outer);
}

/* Motorisation et domotique */
.single-gypass_range #hero-alt .container {
    padding-bottom: var(--spacing-section-inner);
    display: flex;
    flex-direction: column;
}

.single-gypass_range #hero-alt .formatted {
    --content-spacing: 1rem;
}

.single-gypass_range #hero-alt p,
.single-gypass_range #hero-alt li {
    color: var(--manatee);
}

.single-gypass_range #hero-alt .filters {
    margin-top: 4em;
    position: relative;
}

.single-gypass_range #hero-alt .filters:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -2em;
    left: 0;
    display: block;
    background-color: var(--primary);
}