/* #Variables
--------------------------------------------------------------- */
:root {
  /* Colors */
  --alto: #D9D9D9;
  --bahama-blue: #005d9a;
  --bay-of-many: #253080;
  --black: #090909;
  --blue-lagoon: #006E8C;
  --boston-blue: #418AC0;
  --ebb: #f1eeee;
  --fountain-blue: #5DB3C6;
  --ghost: #ccccd4;
  --havelock-blue: #449DD7;
  --lochmara: #0578BE;
  --manatee: #9799a2;
  --scooter: #31bbbd;
  --tango: #ec6615;
  --white: #fffffb;

  --primary: var(--bay-of-many);
  --secondary: var(--tango);

  --content-color: var(--primary);

  /* Fonts */
  --bold: "Galano Grotesque", sans-serif;
  --body: "Galano Grotesque", sans-serif;

  /* Spacings */
  --spacing-section-inner: 2rem;
  --spacing-section-outer: 4rem;
  --content-spacing: 2rem;
  --spacing-title: 1em;
}

@media screen and (min-width: 768px) {
  :root {
    /* Spacings */
    --spacing-section-inner: 3rem;
    --spacing-section-outer: 5rem;
    --spacing-title: 1.25em;
  }
}