/* #Outdoor Index
--------------------------------------------------------------- */
/* Titles */
.page-template-outdoor-index-template .title-wrapper {
    width: max-content;
    margin-bottom: var(--spacing-section-inner);
    position: relative;
}

.page-template-outdoor-index-template .title-wrapper>* {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}

.page-template-outdoor-index-template .title-wrapper:before,
.page-template-outdoor-index-template .title-wrapper:after,
.page-template-outdoor-index-template .title-wrapper>*:after {
    content: "";
    width: 66px;
    height: 16px;
    background-color: var(--secondary);
}

.page-template-outdoor-index-template .title-wrapper:before {
    margin: 0 auto 16px auto;
    display: block;
}

.page-template-outdoor-index-template .title-wrapper:after {
    margin: 16px auto 0 0;
    display: block;
}

.page-template-outdoor-index-template .title-wrapper>*:after {
    margin-left: 16px;
    display: inline-block;
    transform: translateY(-50%);
}

/* Structure */
.page-template-outdoor-index-template .cols-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-section-inner);
}

@media screen and (min-width: 1200px) {
    .page-template-outdoor-index-template .cols-wrapper {
        flex-direction: row;
    }
}

.page-template-outdoor-index-template .cols-wrapper>div {
    flex: 1 1 0;
}

@media screen and (min-width: 1200px) {
    .page-template-outdoor-index-template .cols-wrapper>div {
        max-width: 50%;
    }
}

/* Images */
.page-template-outdoor-index-template figure {
    position: relative;
}

.page-template-outdoor-index-template figure img {
    width: 100%;
    height: auto;
    display: block;
}

.page-template-outdoor-index-template figure .caption {
    margin-top: 1rem;
    margin-left: 3rem;
    font-weight: 200;
    text-transform: uppercase;
}

/* Hero */
#outdoor-hero {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#outdoor-hero .container {
    padding: 2rem;
    min-height: 55vh;
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    #outdoor-hero .container {
        height: 80vh;
    }
}

#outdoor-hero h1 {
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    #outdoor-hero h1 {
        max-width: 50%;
    }
}

#outdoor-hero h1 p {
    color: var(--white);
    font-weight: 300;
}

#outdoor-hero .badge {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media screen and (min-width: 1200px) {
    #outdoor-hero .badge {
        max-width: 700px;
        margin-top: 0;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

#outdoor-hero .btn-scroll {
    position: absolute;
    bottom: var(--spacing-section-outer);
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

@media screen and (min-width: 1200px) {
    #outdoor-hero .btn-scroll {
        width: 80px;
        height: 80px;
    }
}

/* Content 1 */
#outdoor-content-1 {
    padding: var(--spacing-section-outer) 0;
    position: relative;
}

@media screen and (min-width: 1200px) {
    #outdoor-content-1:before {
        content: "";
        width: 66px;
        height: 16px;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        background-color: #EEE1D0;
    }
}

#outdoor-content-1 .col:nth-child(2) {
    position: relative;
}

@media screen and (min-width: 1200px) {
    #outdoor-content-1 .col:nth-child(2):before {
        content: "";
        width: 66px;
        height: 16px;
        display: block;
        position: absolute;
        top: 60%;
        left: calc(var(--spacing-section-inner)* -1 - 33px);
        background-color: #EEE1D0;
    }
}

#outdoor-content-1 video {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 1200px) {
    #outdoor-content-1 video {
        width: 120%;
        float: right;
    }
}

#outdoor-content-1 .introduction p,
#outdoor-content-2 .introduction p {
    color: var(--secondary);
    font-weight: 600;
    font-size: 19px;
}

#outdoor-content-1 .content p,
#outdoor-content-1 .content li,
#outdoor-content-2 .content p,
#outdoor-content-2 .content li {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
}

#outdoor-content-1 .warning {
    padding: 1.5rem;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    background-color: var(--parchment);
}

#outdoor-content-1 .warning:after {
    content: "";
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 35px 35px;
    background-image: url(../../icons/warning.svg);
    transform: translate(-40%, -40%);
}

#outdoor-content-1 .warning span {
    color: var(--secondary);
}

#outdoor-content-1 .btn,
#outdoor-content-2 .btn {
    font-size: 15px;
    background-color: var(--william);
}

/* Content 2 */
#outdoor-content-2 {
    padding: var(--spacing-section-outer) 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-section-inner);
}

@media screen and (min-width: 1200px) {
    #outdoor-image-2:before {
        content: "";
        width: 66px;
        height: 16px;
        display: block;
        position: absolute;
        top: 70%;
        left: -23px;
        background-color: var(--secondary);
    }
}

#outdoor-image-3,
#outdoor-image-4 {
    width: 115%;
}

@media screen and (min-width: 1200px) {
    #outdoor-image-3:before {
        content: "";
        width: 66px;
        height: 16px;
        display: block;
        position: absolute;
        top: 10%;
        right: -33px;
        background-color: var(--secondary);
    }
}

#outdoor-image-4 {
    float: right;
    z-index: 1;
    transform: translateY(50%);
}

@media screen and (min-width: 1200px) {
    #outdoor-image-4:before {
        content: "";
        width: 66px;
        height: 16px;
        display: block;
        position: absolute;
        top: 70%;
        left: -23px;
        background-color: var(--secondary);
    }
}

#outdoor-content-2 .container-sm {
    max-width: 750px;
}

#outdoor-content-2 .content .check-list>li:before {
    content: "✓";
    top: -10px;
    left: -5px;
    font-size: 30px;
    color: var(--secondary);
    border: none;
    transform: unset;
}

/* Awards */
#outdoor-awards {
    padding: var(--spacing-section-outer) 0;
    position: relative;
    background-color: var(--parchment);
}

@media screen and (min-width: 1200px) {
    #outdoor-awards:before {
        content: "";
        width: 100%;
        height: calc(var(--spacing-section-outer) + 75px);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--white);
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-awards .title-wrapper:before {
        background-color: #EEE1D0;
    }
}

#outdoor-awards .awards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-section-inner);
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    #outdoor-awards .awards {
        flex-direction: row;
    }
}

#outdoor-awards .awards .award {
    width: 250px;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--theme);
    box-sizing: border-box;
    text-align: center;
}

#outdoor-awards .awards .award h3 {
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
}

#outdoor-awards .awards .award p {
    font-weight: 500;
}

#outdoor-awards .awards .award * {
    color: var(--theme);
}

#outdoor-awards .legend {
    margin-top: 1rem;
    font-weight: 500;
    text-align: center;
}

/* Jury */
#outdoor-jury {
    padding: var(--spacing-section-outer) 0;
    background-color: var(--parchment);
}

@media screen and (min-width: 1200px) {
    #outdoor-jury {
        margin-bottom: 4rem;
        position: relative;
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-jury:after {
        content: "";
        width: 66px;
        height: 16px;
        margin-top: 16px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        background-color: var(--secondary);
        transform: translateY(calc(var(--spacing-section-outer) + 50%));
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-jury .container {
        position: unset;
    }
}

#outdoor-jury .cols-wrapper {
    align-items: flex-start;
}

#outdoor-jury .cols-wrapper>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    #outdoor-jury .cols-wrapper>div:nth-child(2) {
        flex-direction: row;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-jury .title-wrapper {
        margin-bottom: unset;
    }
}

@media screen and (min-width: 1200px) {

    #outdoor-jury .title-wrapper:before {
        margin-right: 0;
    }
}

@media screen and (min-width: 1200px) {

    #outdoor-jury .title-wrapper:after,
    #outdoor-jury .title-wrapper>*:after {
        content: none;
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-jury .subtitle {
        max-width: 350px;
        font-weight: 600;
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-jury .subtitle:after {
        content: "";
        width: 66px;
        height: 16px;
        margin-top: 16px;
        display: block;
        background-color: var(--secondary);
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-jury figure {
        width: calc((100% - var(--spacing-section-inner) - 4em) / 2);
        max-width: 650px;
        position: absolute;
        left: 0;
    }
}

/* Calendar */
#outdoor-calendar {
    padding: var(--spacing-section-outer) 0;
}

@media screen and (min-width: 1200px) {
    #outdoor-calendar .title-wrapper {
        margin-right: auto;
        margin-left: auto;
    }
}

#outdoor-calendar .cols-wrapper {
    margin-bottom: var(--spacing-section-inner);
    align-items: flex-start;
}

@media screen and (min-width: 1200px) {
    #outdoor-calendar .cols-wrapper {
        max-width: 650px;
        margin-bottom: 0;
        transform: translate(450px, calc(var(--spacing-section-inner) * -1));
    }
}

#outdoor-calendar h3 {
    font-size: 18px;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 700;
}

#outdoor-calendar ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#outdoor-calendar li {
    list-style: none;
}

@media screen and (min-width: 1200px) {
    #outdoor-calendar figure {
        transform: translateX(-10%);
    }
}

/* How */
#outdoor-how {
    padding: var(--spacing-section-outer) 0;
    position: relative;
    background-color: var(--parchment);
}

@media screen and (min-width: 1200px) {
    #outdoor-how:before {
        content: "";
        width: 66px;
        height: 16px;
        display: block;
        position: absolute;
        top: 0;
        left: 30%;
        background-color: var(--secondary);
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-how .title-wrapper:before {
        content: none;
    }
}

.page-template-outdoor-index-template .title-wrapper:before {
    margin: 0 auto 16px auto;
    display: block;
}


#outdoor-how .steps {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-section-inner);
    justify-content: space-between;
}

@media screen and (min-width: 1200px) {
    #outdoor-how .steps:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50px;
        background-color: var(--primary);
    }
}

@media screen and (min-width: 1200px) {
    #outdoor-how .steps {
        flex-direction: row;
    }
}

#outdoor-how .step {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    #outdoor-how .step {
        max-width: 285px;
    }
}

#outdoor-how .step span {
    width: 200px;
    display: block;
    font-weight: 600;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    background-color: var(--parchment);
    z-index: 1;
}

#outdoor-how .step:nth-child(1) span {
    margin-right: auto;
}

#outdoor-how .step:nth-child(2) span {
    margin: 0 auto;
}

#outdoor-how .step:nth-child(3) span {
    margin-left: auto;
}

#outdoor-how .step h3 {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

#outdoor-how .step p {
    font-weight: 600;
}

#outdoor-how .step .btn {
    font-size: 15px;
}