/* #Accordion Tabs (Crossed)
--------------------------------------------------------------- */
.accordion-tabs-crossed-block .media {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-section-inner);
}

.accordion-tabs-crossed-block .options-wrapper {
    margin-top: var(--spacing-section-inner);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion-tabs-crossed-block .label {
    font-size: 17px;
    font-weight: 700;
    color: var(--manatee);
    text-transform: uppercase;
}

.accordion-tabs-crossed-block .label span {
    font-weight: 400;
}

.accordion-tabs-crossed-block .options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (min-width: 992px) {
    .accordion-tabs-crossed-block .options {
        gap: 30px;
    }

    .accordion-tabs-crossed-block .options.image {
        gap: 15px;
    }
}

.accordion-tabs-crossed-block .options>button {
    width: 70px;
    height: 70px;
    padding: 0;
    position: relative;
    background-color: unset;
    border: 5px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.accordion-tabs-crossed-block .options>button.color {
    border-color: var(--white);
}

.accordion-tabs-crossed-block .options>button.image {
    width: 90px;
    height: 90px;
}

.accordion-tabs-crossed-block.bg .options>button.color {
    border-color: var(--ebb);
}

.accordion-tabs-crossed-block .options>button.color.active {
    outline: 5px solid var(--manatee);
}

.accordion-tabs-crossed-block .options>button.image.active {
    border: 5px solid var(--manatee);
}

.accordion-tabs-crossed-block .options>button.image>img {
    height: auto;
    display: block;
}