/* #Accordion Tabs Crossed
--------------------------------------------------------------- */
.accordion-tabs-crossed-block .media {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-section-inner);
}

.accordion-tabs-crossed-block .options-wrapper {
    margin-top: var(--spacing-section-inner);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion-tabs-crossed-block .label {
    font-size: 17px;
    font-weight: 700;
    color: var(--manatee);
    text-transform: uppercase;
}

.accordion-tabs-crossed-block .label #option-alt-active-label {
    font-weight: 400;
}

.accordion-tabs-crossed-block .options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (min-width: 992px) {
    .accordion-tabs-crossed-block .options {
        gap: 30px;
    }

    .accordion-tabs-crossed-block .options.image {
        gap: 15px;
    }
}

.accordion-tabs-crossed-block .options button {
    padding: 0;
    position: relative;
    background-color: unset;
    border: 0;
    cursor: pointer;
}

.accordion-tabs-crossed-block .options button.color {
    width: 70px;
    height: 70px;
    border: 5px solid var(--white);
    border-radius: 50%;
}

.accordion-tabs-crossed-block.bg .options button.color {
    border-color: var(--ebb);
}

.accordion-tabs-crossed-block .options button.color.active {
    outline: 5px solid var(--manatee);
}

.accordion-tabs-crossed-block .options button.image {
    width: 90px;
    height: auto;
}

.accordion-tabs-crossed-block nav[class*="options"] button.image:after {
    content: "";
    width: 27px;
    height: 6px;
    position: absolute;
    bottom: 0;
    display: block;
    background-color: var(--primary);
    transform: translateY(200%) scaleX(0);
    transform-origin: left;
    transition: transform ease 350ms;
}

.accordion-tabs-crossed-block nav[class*="options"] button.image.active:after {
    transform: translateY(200%) scaleX(1);
}

.accordion-tabs-crossed-block nav[class*="options"] button.image>img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100px;
    display: block;
}