/* #Accordion Tabs Crossed (Double)
--------------------------------------------------------------- */
.accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .cols-wrapper>.content>.formatted {
    display: none;
    animation: fadeIn 1s;
}

.accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .cols-wrapper>.content>.formatted.visible {
    display: block;
}

.accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .options-wrapper {
    gap: 5px;
}

.accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .options {
    gap: 5px;
}

.accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .options button.image {
    width: 60px;
    height: auto;
}

@media screen and (min-width: 1200px) {
    .accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .options button.image img {
        max-height: 105px;
    }
}

@media screen and (min-width: 1600px) {
    .accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .options button.image img {
        max-height: 110px;
    }
}

.accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .options button.image:not(.active) img {
    filter: brightness(0) saturate(100%) invert(64%) sepia(8%) saturate(275%) hue-rotate(192deg) brightness(94%) contrast(91%);
}

.accordion-tabs-crossed-double-block:not(.accordion-tabs-crossed-special-block) .options button.image:after {
    left: 0px;
}

/* Options alt */
.accordion-tabs-crossed-double-block .cols-wrapper>.media {
    gap: 0;
    padding-bottom: 40px;
}

.accordion-tabs-crossed-double-block .options-alt:not(.menu) {
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 63px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.accordion-tabs-crossed-double-block div:not(.menus) .options-alt-wrapper:not(.has-menu) .label {
    position: absolute;
    bottom: 0px;
}

.accordion-tabs-crossed-double-block div:not(.menus) .options-alt-wrapper:not(.has-menu) .swipper-wrapper {
    align-items: flex-end;
}

.accordion-tabs-crossed-double-block div:not(.menus) .options-alt:not(.menu) button {
    flex: 0 0 calc((100% - (5 * 8px)) / 6);
    margin-bottom: 12px;
    padding: 0;
    position: relative;
    background-color: unset;
    border: 0;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .accordion-tabs-crossed-double-block div:not(.menus) .options-alt:not(.menu) button {
        flex: 0 0 calc((100% - (4 * 8px)) / 5);
    }
}

.accordion-tabs-crossed-double-block .button-prev,
.accordion-tabs-crossed-double-block .button-next {
    width: 23px;
    position: absolute;
    top: calc(50% - 40px + (23px / 2));
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(64%) sepia(8%) saturate(275%) hue-rotate(192deg) brightness(94%) contrast(91%);
}

.accordion-tabs-crossed-double-block .button-prev {
    left: 10px;
}

.accordion-tabs-crossed-double-block .button-next {
    right: 10px;
    transform: rotate(180deg);
}

.accordion-tabs-crossed-double-block .button-prev svg,
.accordion-tabs-crossed-double-block .button-next svg {
    max-width: 23px;
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}