/* #Accordion Tabs
--------------------------------------------------------------- */
.accordion-tabs-block {
    padding: var(--spacing-section-outer) 0;
}

.accordion-tabs-block.bg {
    background-color: var(--ebb);
}

.accordion-tabs-block.bordered {
    border-top: 1px solid var(--primary);
}

.accordion-tabs-block .introduction {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--spacing-section-inner);
}

.accordion-tabs-block .col-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-section-inner);
}

.accordion-tabs-block .col-wrapper>* {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .accordion-tabs-block .col-wrapper {
        flex-direction: row;
        gap: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .accordion-tabs-block .col-wrapper {
        gap: 4em;
    }
}

.accordion-tabs-block .col-wrapper>.content {
    --content-spacing: 1rem;
    order: 1;
}

@media screen and (min-width: 992px) {
    .accordion-tabs-block .col-wrapper>.content {
        flex: 1 1 30%;
        order: unset;
    }
}

.accordion-tabs-block .col-wrapper>.content .logo {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.accordion-tabs-block .col-wrapper>.media {
    order: 3;
}

@media screen and (min-width: 992px) {
    .accordion-tabs-block .col-wrapper>.media {
        flex: 1 1 40%;
        order: unset;
    }
}

.accordion-tabs-block .col-wrapper>.media>img,
.accordion-tabs-block .col-wrapper>.media>.video-wrapper {
    width: 100%;
    height: auto;
    display: none;
    animation: fadeIn 1s;
}

.accordion-tabs-block .col-wrapper>.media>*.visible {
    display: block;
}

/* Menus */
.accordion-tabs-block .col-wrapper>.menus {
    order: 2;
}

@media screen and (min-width: 992px) {
    .accordion-tabs-block .col-wrapper>.menus {
        flex: 1 1 25%;
        order: unset;
    }
}

.accordion-tabs-block .menu h3 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px 10px;
    position: relative;
    color: var(--manatee);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--ebb);
    border-bottom: 3px solid var(--manatee);
    cursor: pointer;
}

.accordion-tabs-block .menu h3:after {
    content: "";
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    display: block;
    background-size: 15px 15px;
    background-image: url(../../icons/arrow-right.svg);
    filter: brightness(0) saturate(100%) invert(64%) sepia(8%) saturate(260%) hue-rotate(192deg) brightness(95%) contrast(86%);
    transition: transform ease 350ms;
}

.accordion-tabs-block .menu h3.active:after {
    transform: rotate(90deg);
}

.accordion-tabs-block .menu {
    display: flex;
    flex-direction: column;
}

.accordion-tabs-block .menu .accordion-content {
    display: none;
}

.accordion-tabs-block .menu .accordion-list {
    display: flex;
    flex-direction: column;
}

.accordion-tabs-block.scroll .menu .accordion-list {
    max-height: 450px;
    overflow-y: auto;
}

.accordion-tabs-block .menu .accordion-list button {
    padding: 8px 10px;
    font-size: 15px;
    color: var(--manatee);
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--manatee);
    cursor: pointer;
    transition: background-color ease 350ms;
}

.accordion-tabs-block .menu .accordion-list button:hover,
.accordion-tabs-block .menu .accordion-list button:focus {
    background-color: var(--ebb);
}

.accordion-tabs-block .menu .accordion-list button.active {
    font-weight: 700;
    background-color: var(--alto);
}

.accordion-tabs-block .menu .accordion-list ul {
    margin-top: 5px;
}

.accordion-tabs-block .menu .accordion-list li {
    padding-left: 15px;
    margin-bottom: 0.1em;
    position: relative;
    text-indent: 0;
    text-transform: none;
    font-size: 14px;
}

.accordion-tabs-block .menu .accordion-list li:before {
    content: "";
    border: 2px solid var(--manatee);
    border-radius: 50%;
    transform: translateY(-200%);
    display: block;
    position: absolute;
    top: 1em;
    left: 5px;
}