/* #Shades
--------------------------------------------------------------- */
.shades-block {
    padding: var(--spacing-section-outer) 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--background);
    transition: background-image 350ms ease;
}

.shades-block.bordered {
    border-top: 1px solid var(--primary);
}

.shades-block .cols-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-section-inner);
}

@media screen and (min-width: 1200px) {
    .shades-block .cols-wrapper {
        flex-direction: row;
    }
}

/* Introduction */
.shades-block .introduction {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shades-block h2 {
    display: inline;
    margin-right: 3px;
}

.shades-block .instructions {
    max-width: 450px;
    margin-top: 1em;
    margin-bottom: -1em;
    font-weight: 600;
}

/* Selector */
.shades-block .selector {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
}

.shades-block .shades-title {
    font-weight: 500;
    margin-bottom: 16px;
}

.shades-block h2,
.shades-block h3,
.shades-block span,
.shades-block p {
    color: var(--theme);
}

.shades-wrapper {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.shades-block .shades-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.shades-block .shades-grid>button {
    width: 37px;
    height: 37px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--thumbnail);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.shades-block .shades-grid>button.active {
    outline: 2px solid var(--bay-of-many);
}

.shades-block #shades-3 + #shades-4 {
    width: 100%;
}

.shades-block #shades-4 .shades-grid>span {
    width: 37px;
    height: 37px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C46096;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.shades-block #shades-4 .shades-grid>span:before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../../icons/paint.svg);
    background-size: 20px 20px;
    transform: translateX(0);
    transition: transform ease 350ms;
}

.shades-block .chart a {
    font-weight: 700;
    color: var(--theme);
}

.shades-block .btn {
    font-weight: 700;
    color: var(--theme);
    border: 2px solid var(--theme);
    background-color: transparent;
}

/* Result */
.shades-block .result {
    max-width: 600px;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--theme);
    border-radius: 50%;
    transition: border ease 350ms;
}

.shades-block #selector-code-label {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}

.shades-block #selector-code {
    font-size: 60px;
    font-weight: 500;
    line-height: 0.8;
}

@media screen and (min-width: 992px) {
    .shades-block #selector-code {
        font-size: 100px;
    }
}