/* #Video
--------------------------------------------------------------- */
.video-block {
    padding: var(--spacing-section-outer) 0;
    position: relative;
}

.video-block.bg,
.video-block.bg-full {
    background-color: var(--ebb);
}

.video-block.bg:before {
    content: "";
    width: 100%;
    display: block;
    height: 125px;
    position: absolute;
    bottom: 0;
    background-color: var(--white);
}

@media screen and (min-width: 992px) {
    .video-block.bg:before {
        height: 300px;
    }
}

.video-block.bordered {
    border-top: 1px solid var(--primary);
}

.video-block .introduction {
    margin-bottom: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.video-block .introduction img {
    max-width: 225px;
    width: 100%;
    height: auto;
    display: block;
}

.video-block .sub-section {
    margin-top: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

@media screen and (min-width: 992px) {
    .video-block .sub-section {
        flex-direction: row;
        font-size: 17px;
        gap: 4em;
    }
}

.video-block .sub-section:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -2em;
    left: 0;
    display: block;
    background-color: var(--primary);
}

@media screen and (min-width: 992px) {
    .video-block .sub-section p {
        text-align: left;
        font-size: 17px;
    }
}

.video-block iframe {
    width: 100%;
    height: calc(100vw/1.77777778);
}

video.gif {
    cursor: default;
}